* {
    /*Colors*/
    --carbon-black: #252422;
    --tangerine-dream: #F49D7B;
    --charcoal-brown: #403D39;
    --dust-grey: #CCC5B9;
    --floral-white: #fcfaf2;

    /*Font*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* Basic Styling */
    --bord: 1px solid rgb(from var(--charcoal-brown) r g b / 0.5);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
footer {
    background-color: var(--carbon-black);
    color: var(--floral-white);
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline;
}

nav a {
    color: var(--dust-grey);
    text-decoration: none;
}

nav a:hover {
    color: var(--tangerine-dream);
    text-shadow: 1px 1px 5px var(--floral-white);
}

h1 {
    grid-column: 1/2;
    text-align: center;
}

.tagline {
    text-align: center;
}

.tagline h2,
.tagline p {
    margin: 1rem;
}


footer {
    text-align: center;
}

main {
    background-color: var(--floral-white);
    padding: 3rem 1.5rem 0 1.5rem;
    flex: 1;
}

.goal {
    display: grid;
    justify-content: center;
    align-items: center;
}

.goal fieldset {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    justify-content: center;
    padding: 1rem;
}

.goal legend {
    font-size: large;
    padding: .3rem;
    text-align: center;
}

.goal input[type="text"],
.goal input[type="date"],
.goal textarea {
    display: block;
    padding: .75rem;
    border: 1px solid var(--charcoal-brown);
    border-radius: .2rem;
    appearance: none;
    margin-bottom: 1rem;
}

.goal input:required,
.goal textarea:required {
    border-left: 4px solid red;
}

.goal input:required:valid,
.goal textarea:required:valid {
    border-left: 4px solid green;
}

.card-holder {
    display: grid;
    margin: 1rem .5rem;
    padding: 1rem .5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    display: grid;
    position: relative;
    border: var(--bord);
    border-radius: 8px;
    max-width: 300px;
    height: auto;
    justify-self: center;
    margin: .5rem .2rem;
}

h3 {
    text-align: center;
    padding: .75rem;
    background-color: var(--carbon-black);
    color: var(--tangerine-dream);
    border-radius: 8px 8px 0 0;
    height: 25px;
}

.card p,
.readingCard p {
    padding: .75rem;
    text-align: justify;
    text-align-last: center;
}

img {
    display: block;
    width: 100px;
    align-self: center;
    justify-self: center;
    margin-top: .3rem;
}

.readingCard {
    display: grid;
    position: relative;
    border: var(--bord);
    border-radius: 8px;
    height: auto;
    justify-self: center;
    margin: .5rem .2rem;
    width: 220px;
    font-size: .9rem;
}

.readingCard h3 {
    padding-bottom: 2rem;
}


.send-button {
    justify-self: center;
    align-self: center;
    background-color: var(--tangerine-dream);
    color: var(--carbon-black);
    padding: .5rem;
    margin-bottom: .5rem;
    text-decoration: none;
    border-radius: .2rem;
}

.send-button:hover {
    box-shadow: 1px 1px 4x var(--charcoal-brown);
    background-color: var(--carbon-black);
    color: floralwhite;
}

#menu {
    display: none;
}

@media screen and (max-width: 750px) {
    .card-holder {
        grid-template-columns: 1fr;
    }

    main {
        height: auto;
    }

    .card {
        margin: 1rem 0;
        height: auto;
    }
}

@media screen and (max-width: 670px) {


    ul {
        display: block;
        width: auto;
    }

    li {
        display: none;
        margin: 1rem 0;
    }

    .show li {
        display: block;
    }

    #menu {
        position: absolute;
        display: inline-block;
        top: 1.75rem;
        right: 3rem;
        font-size: 2rem;
        background: none;
        color: var(--dust-grey);
        cursor: pointer;
        border: 0;
    }

    #menu::before {
        content: "☰";
    }

    #menu.show::before {
        content: "X";
    }

    #menu:hover {
        color: var(--floral-white);
    }

}