main {
    margin: 0 auto;
}

img {
    display: block;
    width: 400px;
    background-color: black;
    animation: fade 8s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}